#topNavBar {
    min-height: 30px !important;
    color: #fff;
}

.circularProfileImage {
float:left;
}
.circularProfileImage .text {
    padding-top:5px;
    padding-left:10px;
    float:left;
}
.circularProfileImage img {
   border-radius: 50%;
    display: block;
}

