@{
    ViewBag.Title = "Home Page";
}

<div class="slider1" id="divGameSlider">
    

</div>


    @section Scripts
{
        @if (SessionUtils.CurrentTournament == null)
        {
            <script type="text/javascript">

                PopulateTournament();

            </script>
        }
        <script type="text/javascript">
            PopulateHomeGames();
        </script>
    }
