@{

    Layout = null;
}

<div class="PageHeader">Availability</div>

<div id="divAvailabilityTabs">
    <ul>
        <li><a href="#GameAvailability" title="">Game</a></li>
        <li><a href="#UmpiringAvailability" title="">Umpiring</a></li>

    </ul>

    <div id="tabs_container">


        <div id="GameAvailability">
            <!--tab content-->
            Game Availability
        </div>

        <div id="UmpiringAvailability">
            <!--tab content-->
            Umpiring Availability
        </div>



    </div><!--End tabs container-->

</div><!--End tabs-->