@{
    ViewBag.Title = "SaveUserProfileOnDevice";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>SaveUserProfileOnDevice</h2>
@section scripts{
    <script type="text/javascript">

        $(document).ready(function () {
            var htmlvalue = "<div style='text-align:center;'><br><br>Do you want the system to remember this user and auto login next time until you logout.<br><br><input id='SaveUserProfileOnDeviceSave' type='button' class='btn btn-default' value='Remember' />&nbsp;&nbsp;<input id='SaveUserProfileOnDevice_cancel' type='button' class='btn btn-default' value='Cancel' /></div><br><br>";
            OpenPopup("<div class='white-popup-block' id='divSaveUserProfileOnDevice'  style='max-width:450px;'><div class='PopupTitle'>Message</div><div class='PopupContent'>" + htmlvalue + "</div></div>");
            $('.mfp-close').remove();
            $.magnificPopup.instance.close = function () { };
            $('body').on('click', '#SaveUserProfileOnDeviceSave', function (event) {
                $.ajax({
                    cache: false,
                    async: true,
                    type: "Get",
                    url: "/Home/AddUserProfileCookie",
                    //data: $form.serialize(),
                    success: function (res) {
                        location.href = getSiteUrl();
                    },
                    error: function (jqXHR, textStatus, errorThrown) { }
                });
            });
            $('body').on('click', '#SaveUserProfileOnDevice_cancel', function (event) {
                location.href = getSiteUrl();
            });
        });

    </script>
}