@using MyCricketSiteData.Entities;
@using MyCricketSiteData.Services;

@{
    Layout = null;
    TournamentService ts = new TournamentService();
    string tournamentId = "";
    if (SessionUtils.CurrentTournament != null) { tournamentId = SessionUtils.CurrentTournament.EntityId; }

    List<Team> teams = ts.getTournamentTeams(tournamentId);

}

<div style="text-align:center">
    <div>Please select your team:</div>
    <div>
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="ddlUserTeamSelection_Teams" data-toggle="dropdown">
                <span id="ddlCustomTeamValue">Teams</span>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="menu1" style="position:relative; float:none;">

                @foreach (var tm in teams)
                {
                    <li role="presentation"><a role="menuitem" class="ancddlUserTeamSelection_Teams" teamid="@tm.EntityId" tabindex="-1" onclick="">@tm.TeamName</a></li>
                }
            </ul>
        </div>


    </div>
    <div id="divPlayerSelection">

    </div>
    <div id="divPlayerConfirmationButtons" style="display:none;">
        <input type="button" class="btn btn-default" id="divPlayerConfirmationButtonsSubmit" value="Submit" />&nbsp;&nbsp;<input type="button" class="btn btn-default" value="Logout" onclick="window.location.href = getSiteUrl() + '/Account/LogOff'; " />
    </div>
</div>
<script type="text/javascript">

    $('body').on('click', '.ancddlUserTeamSelection_Teams', function (event) {

        $('#ddlCustomTeamValue').html($(this).html());
        $('#ddlCustomTeamValue').attr('teamid', $(this).attr('teamid'));


        $.ajax({
            cache: false, async: true, type: "Get", url: getSiteUrl() + "/Home/GetPlayersForTeam",
            data: { TeamID: $(this).attr("teamid") },
            success: function (res) {
                if (res != null && res != undefined && res.Players.length > 0) {
                    var players = JSON.parse(res.Players);
                    var plHtml = '';
                    $.each(players, function (k, v) {
                        plHtml = plHtml + '<li EntityId="' + v.EntityId + '" ><div>' + v.FirstName + ' ' + v.LastName + '</div><div><img class="lazy" data-original="' + (v.ImageUrl != null && v.ImageUrl.length > 0 ? v.ImageUrl : "\\Content\\images\\Player\\Nophoto.png") + '" width="100" height="100" /></div></li>';
                    });

                    $('#divPlayerSelection').html('<br><div>Please select your name from the list below:</div><ul class="list-inline">' + plHtml + '</ul>')

                    $("img.lazy").lazyload({
                        effect: "fadeIn"
                    });
                    $('body').on('click', '#divPlayerSelection li', function (event) {
                        $('#divPlayerSelection li').removeClass('selected');
                        $(this).addClass('selected');
                        $('#divPlayerConfirmationButtons').show();
                    });
                    $('body').on('click', '#divPlayerConfirmationButtonsSubmit', function (event) {
                        var TeamId = $('#ddlCustomTeamValue').attr('teamid');
                        var playerid = $('#divPlayerSelection li.selected').attr('EntityId');
                        $.ajax({
                            cache: false, async: true, type: "Post", url: getSiteUrl() + "/Home/SavePlayerfoCurrentUser",
                            data: { teamId: TeamId, playerid: playerid },
                            success: function (res) {
                                if (res != null && res != undefined && res.Message.length > 0) {
                                    window.location.href = getSiteUrl();
                                }
                            }
                                ,
                            error: function (jqXHR, textStatus, errorThrown) {
                                //sendEmail(jqXHR, "BindWalletCreationCancelEvent");
                            }
                        });

                    });


                }
            }


            ,
            error: function (jqXHR, textStatus, errorThrown) {
                //sendEmail(jqXHR, "BindWalletCreationCancelEvent");
            }
        });
    });


</script>